:root {
  --primary: rgb(0, 0, 118);
  --secondary: skyblue;
  --shadow: -5px 5px 10px 5px rgba(21, 21, 21, 0.627);
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.btn {
  background: skyblue;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.btn:hover {
  cursor: pointer;
}

/* <!-- Global message --> */
.global {
  background: var(--secondary);
  padding: 10px 0px;
}
.global > div {
  display: flex;
  justify-content: space-between;
}
/* <!-- Header Section --> */
header {
  background: var(--primary);
  color: white;
  padding: 10px 0px;
  font-size: 20;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: white;
  color: var(--primary);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo div {
  border: 2px dotted var(--primary);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-left: 1rem;
}
header ul li:hover {
  cursor: pointer;
  background: red;
  transform: scale(1.5);
}
/* <!-- Hero Section  --> */

.hero {
  background: url(./assets/hero.jpg) no-repeat center;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 450px;
  background: rgba(0, 0, 0, 0.506);
  color: white;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content hr {
  width: 100%;
}
/* <!-- Latest post section  --> */

.latest {
  padding: 3rem 0;
  background: url(./assets/b.jpg);
  /* background-size: cover; */
  filter: grayscale(0.3);
}
.main {
  display: flex;
  gap: 1rem;
}
.articles {
  width: 66%;
}
article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.71);
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px 16px;
}
article .art-img {
  width: 350px;
}

article .btn {
  float: right;
}
.side-links {
  width: 34%;
}
/* aside div {
  background: rgb(107, 172, 9);
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
} */
.country {
  background: rgba(99, 160, 7, 0.649);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.date {
  background: rgba(140, 178, 16, 0.649);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
/* <!-- Recommendation --> */

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  width: 250px;
  box-shadow: var(--shadow);
  padding-bottom: 32px;
  border-radius: 10px;
  flex-grow: 1;
}
.card > img {
  border-radius: 10px 10px 0px 0;
}
.card .btn {
  width: 100%;
}

/* <!-- Subscribe section  --> */
.subs {
  background: var(--secondary);
  margin-top: 2rem;
  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.subs input {
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
/* <!-- Footer --> */
footer {
  background: #000;
  color: aliceblue;
  padding: 64px;
  text-align: center;
  margin-top: 32px;
}
/* media queries */
/* ipad view 992 px */
@media (width<992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .side-links {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
  .side-links > div {
    flex-grow: 1;
  }
}

/* phones 550px */
@media (max-width: 550px) {
  article {
    display: flex;
    flex-direction: column;
  }
  article .art-img {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .side-links {
    display: flex;
    flex-direction: column;
  }
  .subs form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
